extends ../../layout/public/auth.layout.pug

block content
  .login-box
    .login-logo
      a(href='#')
        b BLOG

    .card
      .card-body.login-card-body
        p.login-box-msg Sign in to start your session
        form#login-form(action='#' method='post')
          .input-group.mb-3
            input#email.form-control(type='email' placeholder='Email')
            .input-group-append
              .input-group-text
                span.fas.fa-envelope
          .input-group.mb-3
            input#password.form-control(type='password' placeholder='Password')
            .input-group-append
              .input-group-text
                span.fas.fa-lock
          .row
            .col-8
              .icheck-primary
                input#remember(type='checkbox')
                label(for='remember')
                  | Remember Me
            // /.col
            .col-4
              button.btn.btn-primary.btn-block(type='submit') Sign In
            // /.col
        .social-auth-links.text-center.mb-3
          p - OR -
          a.btn.btn-block.btn-primary(href='#')
            i.fab.fa-facebook.mr-2
            |  Sign in using Facebook
          a.btn.btn-block.btn-danger(href='#')
            i.fab.fa-google-plus.mr-2
            |  Sign in using Google+
        // /.social-auth-links
        p.mb-1
          a(href='forgot-password.html') I forgot my password
        p.mb-0
          a.text-center(href='register.html') Register a new membership
      // /.login-card-body
  // /.login-box
block scripts
  script(src='dist/js/middlewares/route-public.js')
  script(src='dist/js/pages/login.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

