extends ../../layout/public/auth.layout.pug

block content
  .register-box
    .register-logo
      a(href='../../index2.html')
        b Admin
        | LTE
    .card
      .card-body.register-card-body
        p.login-box-msg Register a new membership
        form#register-form(action='../../index.html' method='post')
          .input-group.mb-3
            input#fullName.form-control(type='text' placeholder='Full name')
            .input-group-append
              .input-group-text
                span.fas.fa-user
          .input-group.mb-3
            input#email.form-control(type='email' placeholder='Email')
            .input-group-append
              .input-group-text
                span.fas.fa-envelope
          .input-group.mb-3
            input#password.form-control(type='password' placeholder='Password')
            .input-group-append
              .input-group-text
                span.fas.fa-lock
          .input-group.mb-3
            input.form-control(type='password' placeholder='Retype password')
            .input-group-append
              .input-group-text
                span.fas.fa-lock
          .row
            .col-8
              .icheck-primary
                input#agreeTerms(type='checkbox' name='terms' value='agree')
                label(for='agreeTerms')
                  | I agree to the 
                  a(href='#') terms
            // /.col
            .col-4
              button.btn.btn-primary.btn-block(type='submit') Register
            // /.col
        .social-auth-links.text-center
          p - OR -
          a.btn.btn-block.btn-primary(href='#')
            i.fab.fa-facebook.mr-2
            |           Sign up using Facebook
          a.btn.btn-block.btn-danger(href='#')
            i.fab.fa-google-plus.mr-2
            |           Sign up using Google+
        a.text-center(href='login.html') I already have a membership
      // /.form-box
    // /.card
  // /.register-box
block scripts
  script(src='dist/js/middlewares/route-public.js')
  script(src='dist/js/pages/register.js') 