extends ../../layout/private/manage.layout.pug

block content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 User management
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/') Home
              li.breadcrumb-item.active User
      // /.container-fluid
    // Main content
    section.content
      .container-fluid
        .row
          .col-12
            .card
              .card-header
                h3.card-title User in system
                br
                button#creation.ml-3.mt-3.btn.btn-primary(type="button" data-toggle="modal" data-target="#modal-default") Add
                div(style='float: right')
                  button#filter.btn.btn-primary(type="button" data-toggle="modal" data-target="#modal-filter") Filter
                  input#search(type='search' placeholder='Type your keywords here')
              .card-body
                // /.card-header
                table#user-table-layout.table.table-bordered.table-hover
                  thead
                    tr
                      th Id
                      th Username
                      th Full name
                      th Status
                      th Roles
                  tbody#user-table
                  tfoot
                    tr
                      th Id
                      th Username
                      th Full name
                      th Status
                      th Roles
                div
              .card-footer.clearfix
                ul#pagination.pagination.pagination-sm.m-0.float-right
                  
              // /.card-body
          // /.col
        // /.row
      // /.container-fluid
    // /.content
  #modal-default.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Create new user
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p One fine body&mldr;
        .modal-footer.justify-content-between
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save
      // /.modal-content
    // /.modal-dialog

  #modal-filter.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Filter
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p One fine body&mldr;
        .modal-footer.justify-content-between
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save
      // /.modal-content
    // /.modal-dialog

block scripts
  script(src="dist/js/pages/user.js")
  script(src="dist/js/pages/logout.js")

